ul,
ol,
menu {
    list-style: none;
}

a {
    text-decoration: none;
    color: currentColor;
}

.figure > img {
    width: 230px;
    height: 260px;
}

/* palette colori */

:root {
    --dark-blue: #2C3E50;
    --light-blue: #3A546D;
    --aquamarine: #1ABC9C;
    --light: #ffffff;
    --dark-gray: #333333;
}

.topbar {
    background-color: var(--dark-blue);
}

.hero {
    background-color: var(--aquamarine);
}

.about {
    background-color: var(--aquamarine);
}

.contacts {
    background-color: var(--light-blue);
}

.hero .star-icon::before {
    content: "";
    position: absolute;
    display: inline;
    height: 5px;
    width: 145px;
    border-radius: 999px;
    top: 10px;
    right: 40px;
    background-color: var(--light);
    }

.hero .star-icon::after {
    content: "";
    position: absolute;
    display: inline;
    height: 5px;
    width: 145px;
    border-radius: 999px;
    top: 10px;
    left: 40px;
    background-color: var(--light);
    }

.portfolio .star-icon::before {
    content: "";
    position: absolute;
    display: inline;
    height: 5px;
    width: 145px;
    border-radius: 999px;
    top: 10px;
    right: 40px;
    background-color: var(--dark-gray);
    }

.portfolio .star-icon::after {
    content: "";
    position: absolute;
    display: inline;
    height: 5px;
    width: 145px;
    border-radius: 999px;
    top: 10px;
    left: 40px;
    background-color: var(--dark-gray);
    }

.about .star-icon::before {
    content: "";
    position: absolute;
    display: inline;
    height: 5px;
    width: 145px;
    border-radius: 999px;
    top: 10px;
    right: 40px;
    background-color: var(--light);
}

.about .star-icon::after {
    content: "";
    position: absolute;
    display: inline;
    height: 5px;
    width: 145px;
    border-radius: 999px;
    top: 10px;
    left: 40px;
    background-color: var(--light);
}

.contact-me .star-icon::before {
    content: "";
    position: absolute;
    display: inline;
    height: 5px;
    width: 145px;
    border-radius: 999px;
    top: 10px;
    right: 40px;
    background-color: var(--dark-gray);
    }

.contact-me .star-icon::after {
    content: "";
    position: absolute;
    display: inline;
    height: 5px;
    width: 145px;
    border-radius: 999px;
    top: 10px;
    left: 40px;
    background-color: var(--dark-gray);
    }


/* @media (min-width: 576px) { ... }


@media (min-width: 768px) { ... }


@media (min-width: 992px) { ... }


@media (min-width: 1200px) { ... }


@media (min-width: 1400px) { ... } */